body{
    background: rgb(5, 33, 5);
    color: white;
    align-items: center;
}
h1{
   text-align: center;

}
button{
    padding: 300px;
   text-align: center;
   align-items: center;
   margin:  auto;
   border-radius: 10px;
}
